*{margin: 0; padding: 0;}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background: #302f2f;
}

h1, h2, h3, p{
    text-align: center;
}

h3{
    padding: 10px;
}
/* Menu */
.logo{
    position: relative;
    left: -600px;
    
}
.menu_nav{
    background: #302f2f;
    display: inline-block;
    padding: 30px;
    width: 100%;
}
.menu{
    position: relative;
    left: 35%;
    list-style: none;
    float: left;
    border: 1px solid #ed820e;
    transition: .5s;
}
.menu li{
    position: relative;
    float: left;
}
.menu li a{
    display: block;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
.menu li a:hover{
    background: rgb(255, 68, 0);
    color: #fff;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.616);
    box-shadow: 0 3px 10px 40 orangered;
    transform: scale(1.1);
}
/* Fim Menu */

.main_card{
    background: rgb(212, 207, 207);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    height: auto;
    padding: 30px;
}

#computer-images img{
    display: inline-block;
    padding-top: 40px;
    padding-left: 10px;
    width: 250px;
    border-radius: 30%;
    text-align: center;
}

#computer-images img:hover{
    scale: 1.1;
    transition: 0.3s;
}

 .news-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    display: inline-block;
    margin: 45px;
    background-image: linear-gradient(to right, rgb(136, 127, 127), rgba(255, 68, 0, 0.404));
  }
  
  .news-card:hover{ 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.01);
    transition: 0.3s;
  }
  
  .news-card img{
    border-radius: 5px 5px 0 0;
    width: 200px;
  }

  
  .container{
    padding: 2px 16px;
  }

  .news-card p{
    padding: 10px;
  }
