@charset "UTF-8";
@font-face{
    font-family: 'font';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body{
    width:90%;
    margin:auto;
    min-width:600px;
    max-width:2000px;
    background-color: #dddddd;
    overflow-x: hidden;
}

img{
    position: relative;
    width: 200px;
    left: 600px;
    top: 17px;
}

h1{
    position: relative;
    font-family: 'font';
    text-align: center;
    top: 10px;
    font-size: 29pt;
}

nav#menu ul{
    position: relative;
    left: 480px;
    top: 0px;
}

nav#menu li{
    display: inline-block;
    margin: 2px;
    padding: 10px;
    background-color: #4d70af;
    font-family: "Comic Sans MS";
    font-size: 15pt;
    border-radius: 10px 10px 10px 10px;
}

nav#menu li:hover{
    transition: 1s;
    background-color: #00a6e7;
}

/* Contato */

h2.tel{
    position: relative;
    font-family: 'font';
    font-size: 27pt;
    left: 100px;
}

ul{
    position: relative;
    list-style: none;
    top: 20px;
    left: 60px;
}

li{
    font-family: Arial, Sans-Serif;
    font-size:large;
}

/* Cadastramento */

h2.cad{
    position: absolute;
    font-family: 'font';
    font-size: 27pt;
    top: 283px;
    left: 1000px;
    height: 200px;
}

p.nov {
    position: absolute;
    top: 350px;
    left: 950px;
    width: 315px;
    text-align: justify;
    font-family: Arial, Sans-Serif;
    font-size: large;
}

form{
    position: absolute;
    left: 950px;
    font-family: Arial, Sans-Serif;
}

#enviar {
    position: relative;
    font-size: 15px;
    left: 80px;
    width: 75px;
    height: 45px;
    background-color: #cecece;
    font-family: Verdana;
}

menu{
    transition: 3s;
    background-color: #00a6e7;
}

p#nomeE {
    float: left;
    margin: 0px 10px 0px 0px;
}

fieldset{
    background-color: #d4d4d4;
}

input{
    background-color: #c5c5c5;
    border: groove;
}

select{
    background-color: #c5c5c5;
    border: groove;
}
